{{ define "contributors" -}}
<ul class="contributor-grid">
	<li><a href="https://www.6wind.com"><img src="/contributors/6wind.webp" alt="6WIND"></a></li>
	<li><a href="https://www.atcorp.com/"><img src="/contributors/atc.webp" alt="Architecture Technology Corporation"></a></li>
	<li><a href="https://www.bisdn.de/"><img src="/contributors/bisdn.webp" alt="BISDN"></a></li>
	<li><a href="https://www.cloudscale.ch/"><img src="/contributors/cloudscale.svg" alt="cloudscale.ch"></a></li>
	<li><a href="https://www.hostinger.com/"><img src="/contributors/hostinger.svg" alt="Hostinger"></a></li>
	<li><a href="https://isc.org/"><img src="/contributors/isc.webp" alt="Internet Systems Consortium"></a></li>
	<li><a href="https://labn.net/"><img src="/contributors/labn.webp" alt="LabN Consulting"></a></li>
	<li><a href="https://www.landitec.com/products/open-source-appliance-solutions/scope7-open-source-appliances/scope7-frrouting-appliances"><img src="/contributors/landitec.svg" alt="Landitec"></a></li>
	<li><a href="https://www.netdef.org/"><img src="/contributors/netdef.webp" alt="NetDEF"></a></li>
	<li><a href="https://netris.io/"><img src="/contributors/netris.svg" alt="Netris"></a></li>
	<li><a href="https://nfware.com/"><img src="/contributors/nfware.svg" alt="NFWare"></a></li>
	<li><a href="https://nvidia.com/"><img src="/contributors/nvidia.svg" alt="NVIDIA"></a></li>
	<li><a href="https://www.opensourcerouting.org/"><img src="/contributors/opensourcerouting.webp" alt="OpenSourceRouting"></a></li>
	<li><a href="https://www.orange.com/"><img src="/contributors/orange-logo.webp" alt="Orange"></a></li>
	<li><a href="https://www.pluribusnetworks.com/"><img src="/contributors/pluribusnetworks.webp" alt="Pluribus Networks"></a></li>
	<li><a href="https://vmware.com/"><img src="/contributors/vmware.svg" alt="VMware"></a></li>
	<li><a href="https://vyos.io/"><img src="/contributors/vyos.svg" alt="VyOS Networks"></a></li>
</ul>
{{- end }}
