{{ define "contributors" -}}
<ul class="contributor-grid">
	<li><a href="http://www.128technology.com"><img src="/contributors/128-tech.jpg"></a></li>
	<li><a href="http://www.6wind.com"><img src="/contributors/6wind.jpg"></a></li>
	<li><a href="https://www.atcorp.com/"><img src="/contributors/atc.jpg"></a></li>
	<li><a href="http://www.bigswitch.com/"><img src="/contributors/bigswitch.jpg"></a></li>
	<li><a href="https://www.bisdn.de/"><img src="/contributors/bisdn.jpg"></a></li>
	<li><a href="http://www.cloudscale.ch/"><img src="/contributors/cloudscale.jpg"></a></li>
	<li><a href="http://www.cumulusnetworks.com/"><img src="/contributors/cumulus.png"></a></li>
	<li><a href="https://www.hostinger.com/"><img src="/contributors/hostinger.png"></a></li>
	<li><a href="http://isc.org/"><img src="/contributors/isc.jpg"></a></li>
	<li><a href="http://labn.net/"><img src="/contributors/labn.jpg"></a></li>
	<li><a href="https://www.landitec.com/products/open-source-appliance-solutions/scope7-open-source-appliances/scope7-frrouting-appliances"><img src="/contributors/landitec.jpg"></a></li>
	<li><a href="https://www.netdef.org/"><img src="/contributors/netdef.jpg"></a></li>
	<li><a href="https://netris.io/"><img src="/contributors/netris.png"></a></li>
	<li><a href="https://nfware.com/"><img src="/contributors/nfware.jpg"></a></li>
	<li><a href="https://www.opensourcerouting.org/"><img src="/contributors/opensourcerouting.jpg"></a></li>
	<li><a href="https://www.orange.com/"><img src="/contributors/orange-logo.jpg"></a></li>
	<li><a href="https://www.pluribusnetworks.com/"><img src="/contributors/pluribusnetworks.png"></a></li>
	<li><a href="https://vmware.com/"><img src="/contributors/vmware.jpg"></a></li>
	<li><a href="http://voltanet.io/"><img src="/contributors/volta.jpg"></a></li>
        <li><a href="http://vyos.io/"><img src="/contributors/vyos.png"></a></li>
</ul>
{{- end }}
