<nav><ul>
<li><a href="{{site.Params.extLinks.github}}">GitHub</a></li>
<li><a href="{{site.Params.extLinks.ci}}">CI</a></li>
<li><a href="{{site.Params.extLinks.mailList}}">Mailing List</a></li>
<li><a href="{{site.Params.extLinks.userDoc}}">User Docs</a></li>
<li><a href="{{site.Params.extLinks.devDoc}}">Dev Docs</a></li>
<li><a href="{{site.Params.extLinks.frrwww}}">Edit this Site</a></li></ul></nav>
