                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-group">
                            <p>&copy; 2017 FRRouting Project, a Linux Foundation Collaborative Project. All Rights Reserved unless explicitly granted under an open source license.<br> The Linux Foundation is a registered trademark of The Linux Foundation. Linux is a registered trademark of Linus Torvalds.<br> Please see our <a href="https://www.linuxfoundation.org/terms" target="_blank">terms of use</a>, <a href="https://www.linuxfoundation.org/trademark-usage" target="_blank">trademark usage</a> and <a href=" https://www.linuxfoundation.org/privacy" target="_blank">privacy policy</a></p>
                            <p>Site by <a href="http://www.unomena.com" target="_blank">UNOMENA</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
